include README.md
include hackerman.py
include MANIFEST.in
include setup.py
include web/run.py
include network/scan.py
include requirements.txt
include hackerman.py
include rat/pyshell.py
include script/main.py
